@import "../variables";
*{
    margin: 0;
    font-family: monospace;
}
body{
    background-color: $orange-900;
    color: white;
}
button{
    background-color: $orange-500;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover{
        background-color: $orange-600;
        cursor: pointer;
        transition: 500ms;
    }
}